<h1>Add a Review!</h1>
<article>
    <form method="POST" action="/create">
        <div class="input-field">
            <label>Title:</label>
            <input type="text" name="title" size="50" placeholder="Title...">
        </div>
         <div class="input-field">
            <label>Author:</label>
            <input type="text" name="author" size="50" placeholder="Author...">
        </div>
        <div class="input-field">
            <label>Year Published:</label>
            <input type="number" name="year" size="50" placeholder="YYYY">
        </div>
        <div class="input-field">
            <label>Genre:</label>
            <input type="text" name="genre" size="50" placeholder="Genre...">
        </div>        
        <div class="input-field">
            <label>Descriptors:</label>
            <input type="text" name="descriptors" size="50" placeholder="Funny,Quick,Smart">
        </div>
        <button type="submit">Add review</button>
    </form>
</article>